/* src/app/pages/AdminPage/Dashboard/Dashboard.css */
.dashboard {
  display: flex;
  flex-wrap: wrap;
  /* Cho phép các phần tử chuyển sang hàng tiếp theo */
  gap: 20px;
  padding: 20px;
  justify-content: center;
  /* Căn giữa các biểu đồ */
}

.chart {
  width: 80%;
  /* Mỗi biểu đồ chiếm 45% chiều rộng của container */
  max-width: 800px;
}

.h3 {
  text-align: center;
  width: 100%;
  /* Đảm bảo tiêu đề chiếm toàn bộ chiều rộng */
}

.analytics-gradient-1 {
  background: linear-gradient(90deg, #0dc1fd 0%, #2448ff 100%);
  color: #fff;
}

.analytics-gradient-2 {
  background: linear-gradient(90deg, #2add8a 0%, #10633c 100%);
  color: #fff;
}

.analytics-gradient-3 {
  background: linear-gradient(90deg, #ff5264 0%, #b91323 100%);
  color: #fff;
}

.analytics-gradient-4 {
  background: linear-gradient(90deg, #ff9f00 0%, #ff4e00 100%);
  color: #fff;
}